.cardContainer {
    width: 60%;
    margin: 30px auto;
    padding: 5px 50px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.667);
}
.cardContainer h2{
    font-weight: 400;
    padding-right: 10px;
}

.cardContainer .firstBox {
    padding: 5px;
    /* border: blue solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.cardContainer .close {
    /* padding: 5px; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 3s ease;
}

.cardContainer .open{
    max-height: fit-content;
}

.cardContainer button{
    text-align: center;
    height: 30px;
    min-width: 100px;
    background-color: #E50A15;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}